@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
/*Root*/
:root {
    --primary-color: #021832;
    --secondary-color: #a3a190;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-text: #021832;
    --secondary-text: white;
    --white: #ffffff;
    --red: #eb0029;
    --text-black: #151515;
    --gold: #867051;
    --light-gold: #bd9b71;
    --black: #20252d;
    --style-font: "Cormorant Garamond", serif;
}
html,
body {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
}
.fsl1 {
    font-family: 'Lobster', cursive !important;
    font-weight: 600;
    font-style: normal;
}
.fsl2 {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}
.fsl3 {
    font-family: "Cinzel", serif;
    font-size: 40px;
}
::selection {
    color: #af8941;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: var(--white);
}
::-webkit-scrollbar-thumb {
    background: var(--text-black);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
section {
    padding: 2.511rem 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
}
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/*NavBar*/
header .navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adjust the values as needed */
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.navbar-toggler {
    color: black;
    background-color: #c49743;
}
header .navbar .navbar-nav li .nav-link {
    display: block;
    width: fit-content;
    color: #af8941;
    font-weight: 700;
    border: none;
}
header .navbar .navbar-nav li .nav-link:hover {
    color: #031926;
    opacity: .8;
}
header .navbar ul li .nav-link.active {
    color: #031926;
}
header .navbar .link-btn {
    margin-left: auto;
    margin-right: auto;
}
.hover-underline {
    position: relative;
    max-width: max-content;
}
.hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid #031926;
    transform: scaleX(0.2);
    opacity: 0;
    transition: 0.75sec;
}
.hover-underline:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    opacity: 1;
}
/*Index-Home*/
.sldh1 {
    color: white;
    font-size: 70px;
    text-shadow: 4px 2px #1b1a1ada;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
.sldh2 {
    color: white;
    font-size: 20px;
    text-shadow: 4px 2px #1b1a1ada;
    font-family: Marcellus, serif;
    font-weight: 800;
}
.head-home {
    position: relative;
    background-color: #b25a3f;
}
.HeadText {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 900px;
}
.carousel1 {
    width: 100% !important;
    background: url('assets/image/29.jpg') rgba(0, 0, 0, 0.616);
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 11% 100%, 22% 51%, 11% 0);
    height: 600px;
}
.carousel2 {
    width: 100% !important;
    background: url('assets/image/2.jpg')rgba(0, 0, 0, 0.616);
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 11% 100%, 22% 51%, 11% 0);
    height: 600px;
}
.carousel3 {
    width: 100% !important;
    background: url('assets/image/20.jpg')rgba(0, 0, 0, 0.616);
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 11% 100%, 22% 51%, 11% 0);
    height: 600px;
}
/*Index-About*/
.fontfont {
    font-family: "Cinzel", serif;
    font-size: 40px;
}
.about-wrapper {
    padding: 50px;
    position: relative;
    background: #b25a3f;
}
/*Index-Jumnotron*/
.index-bg1 {
    background: url(assets/image/10.jpg)rgba(54, 50, 50, 0.625);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 40vh;
    position: relative;
}
/*Index-Menu*/
.menu-tab-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}
@media (max-width: 1199px) {
    .menu-tab-area {
        grid-template-columns: repeat(1, 1fr)
    }
}
.food-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #D2D2D2;
    transition: 0.4s
}
.food-menu:last-child {
    border-bottom: none
}
.food-menu-wrap {
    border: 1px dashed #D2D2D2;
    padding: 0 30px;
    border-radius: 10px;
    background-color: var(--white)
}
.food-menu_content {
    width: calc(100% - 100px);
    position: relative
}
.food-menu_img {
    min-width: 92px;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    position: relative;
    transition: 0.4s;
    background: var(--white);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
    padding: 5px;
    z-index: 2;
    margin-right: 10px
}
.food-menu_img:before {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid var(--red);
    border-radius: inherit;
    transform: scale(0.7);
    transition: 0.4s ease-in-out;
    z-index: -1
}
.food-menu_img img {
    width: 100%
}
.food-menu_title {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 4px;
    margin-top: -0.24em;
    color: var(--title-color);
    text-transform: capitalize;
    position: relative;
    z-index: 2
}
.food-menu_title:before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    border-bottom: 3px dotted;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease-in-out
}
.food-menu_title:hover {
    color: var(--red)
}
.food-menu_title a {
    color: inherit;
    background-color: var(--white)
}
.food-menu_price {
    align-self: flex-start;
    background-color: rgba(255, 6, 0, 0.1);
    border-radius: 4px;
    color: var(--red);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding: 3px 12px;
    margin-top: 6px
}
.food-menu:hover {
    border-color: var(--red) !important
}
.food-menu:hover .food-menu_img:before {
    transform: scale(1)
}
.menu-tabs {
    justify-content: center;
    display: flex;
    border-bottom: none;
    margin: 0 -30px 60px -30px
}
.menu-tabs .nav-link {
    background-color: transparent;
    color: var(--title-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: block;
    border: none;
    border-right: 1px dashed #A5A5A5;
    padding: 0px 30px;
    border-radius: 0
}
.menu-tabs .nav-link.active,
.menu-tabs .nav-link:hover {
    color: var(--red);
    background-color: transparent;
    border: none;
    border-right: 1px dashed #A5A5A5
}
.menu-tabs .nav-link img {
    display: block;
    margin: auto;
    margin-bottom: 12px
}
.menu-tabs .nav-link:last-child {
    border-right: none !important
}
@media (max-width: 767px) {
    .menu-tabs {
        margin: 0 -12px 40px -12px
    }
    .menu-tabs .nav-link {
        font-size: 0;
        padding: 0 12px;
        height: 40px
    }
    .menu-tabs .nav-link img {
        margin-bottom: 0
    }
}
@media (max-width: 575px) {
    .food-menu {
        flex-direction: column;
        text-align: center
    }
    .food-menu_price {
        align-self: center
    }
    .food-menu_content {
        width: 100%
    }
    .food-menu_title a {
        padding: 0 5px
    }
    .food-menu-wrap {
        padding: 0 15px
    }
}
/*Index-Gallery*/
/*Index - Ameneties*/
.Icons {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Icons .Icons8 {
    background-color: #285E5F;
    margin: auto !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.Icons8 .fas {
    font-size: 40px;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}
.Icons:hover h6 {
    color: #285E5F;
}
.Icons h6 {
    color: #3D3C3C;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}
.Icons p {
    padding: 10px 10px 10px 10px;
}
/*Index-Testimonials*/
.testimonials {
    background: url(assets/image/4.jpg)rgba(54, 50, 50, 0.625);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 65vh;
    position: relative;
}
.testimonials .card {
    border-bottom: 3px #285E5F solid !important;
    margin-top: 60px;
}
.card i {
    background-color: #285E5F;
    color: rgb(255, 255, 255, 0.625);
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 10px auto 0 auto !important;
}
.testimonials .owl-theme .owl-nav {
    display: none;
}
.testimonials .owl-theme .owl-dot {
    display: none;
}
/*Gallery*/
.gallery-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-button {
    display: inline-block;
    font-weight: 600;
    color: #0f3a4a;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-color: #0f3a4a;
    margin: 10px;
}
.filter-button:focus,
.filter-button.active {
    background-color: #0c1618;
    border-color: #ffffff;
}
.filter-button:hover {
    color: #fff;
    background-color: #0c1618;
    border-color: #0f3a4a;
}
.gallery_product {
    overflow: hidden;
}
.gallery_product img {
    max-width: 100%;
    max-height: 100%;
    width: 340px;
    height: 230px;
    box-shadow: 8px 8px 4px #1C2025;
}
.gallery_product img:hover {
    transform: scale(1.05);
}
/*Menu*/
/*Jumbotron*/
/*General*/
.bg-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: url(assets/image/11.jpg) rgba(0, 0, 0, .625);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 60vh;
}
.ms-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
/*Button*/
.first-button {
    font-family: 'Oswald', sans-serif;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    background: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    transition: all 0.3s ease-out;
}
.first-button:hover::before {
    width: 50px;
    height: 50px;
    border-left: 3px #E0E7E9 solid;
    border-top: 3px #E0E7E9 solid;
}
.first-button:hover::after {
    width: 40px;
    height: 50px;
    border-right: 3px #9da9bb solid;
    border-bottom: 3px #9da9bb solid;
}
.first-button:hover {
    color: #000000;
    box-shadow: 0px 5px 15px 1px #181717;
    border-color: #748194;
}
/*Animation*/
.fadeinleft {
    opacity: 0;
    transform: translateX(200px);
    transition: all 1.3s ease-out;
}
.fadeinright {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.8s ease-out;
}
.fadeindown {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1.2s ease-out;
}
.fadeinup {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.2s ease-out;
}
.fade-in {
    opacity: 0;
    transition: all 1.3s ease-in;
}
.active-left,
.active,
.active-right,
.active-down,
.active-up {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}
.fadein {
    opacity: 0;
}
/*Contact*/
.contact-map {
    height: 600px;
    width: 100%;
    display: block;
}
/*Footer*/
.footer_wrapper {
    background: #ffffff;
    padding: 5% 0 0 0 !important;
}
.social-box:hover {
    border-color: #B1936B !important;
}
.social-box:hover i {
    color: #B1936B !important;
}
.ft-text {
    text-decoration: none;
    color: #000000;
    padding-bottom: 5px !important;
    font-weight: 600 !important;
}
.ft-text:hover {
    color: yellow;
    transform: translateY(-10px);
    text-decoration: none;
}
.copyright {
    font-size: medium;
    color: #000000;
    text-align: center;
    padding-bottom: 0 !important;
}
.Navlist {
    padding-left: 0 !important;
}
.Navlist li {
    display: inline;
    margin: 10px;
}
.Navlist a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease-in-out;
    padding: 10px;
    color: white;
}
.Navlist a:hover {
    color: yellow;
}
/* Media Queries */
@media only screen and (max-width: 1200px) {
    ::-webkit-scrollbar {
        width: 7px;
    }
    .navbar-nav {
        padding-bottom: 20px;
    }
    header .navbar {
        padding-bottom: 25px !important;
    }
    .sldh1 {
        font-size: 40px !important;
    }
    .Section-Info-col {
        margin-top: 20px;
    }
    iframe {
        border: 0 !important;
        width: 100% !important;
    }
    .footer-location {
        margin-top: 20px !important;
    }
    .about-wrapper {
        margin-bottom: 20px;
    }
    .home-text1 {
        padding-left: 0px !important;
        text-align: center !important;
    }
    .home-text1 p {
        padding-left: 0px !important;
        text-align: center !important;
    }
    .HeadText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 300px;
    }
    .HeadText h1 {
        font-size: 40px !important;
    }
    .HeadText h4 {
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 992px) {
    header .navbar {
        margin: 0;
        margin-left: auto;
    }
}
@media (max-width: 550px) {
    .options {
        display: grid;
    }
    .gallery_product {
        display: grid;
        justify-content: center;
    }
    .footer-link-d,
    ul.list-unstyled li,
    ul.p-0.footer-ul li {
        text-align: center;
    }
}
@media only screen and (max-width: 430px) {
    .testip {
        font-size: 18px;
    }
}